Package: com.lacertosusrepo.return2sender2
Name: Return2Sender2
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Replace return key with send key...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.return2sender2/
SileoDepiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.return2sender2/
