Package: com.lacertosus.screenlock
Name: ScreenLock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Tweak that locks your screen via Activator Action
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
Version: 0.0.1-38
Installed-Size: 149
