<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>SafiCustomHeaderCell</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.safiprefs</string>
			<key>key</key>
			<string>safiSwitch</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.safiprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.safiprefs</string>
			<key>key</key>
			<string>folderTitle</string>
			<key>label</key>
			<string>Show Folder Title</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.safiprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.safiprefs</string>
			<key>key</key>
			<string>folderDots</string>
			<key>label</key>
			<string>Show Folder Dots</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.safiprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.safiprefs</string>
			<key>key</key>
			<string>hideApps</string>
			<key>label</key>
			<string>Hide Icons Behind Folder</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.safiprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Icon Fade Time</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.5</string>
			<key>min</key>
			<string>0.1</string>
			<key>max</key>
			<string>1.0</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.safiprefs</string>
			<key>key</key>
			<string>fadeTime</string>
			<key>label</key>
			<string>Icon Fade Time</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.safiprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Folder Background Alpha</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.0</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>1.0</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.safiprefs</string>
			<key>key</key>
			<string>folderBackground</string>
			<key>label</key>
			<string>Folder Background Alpha</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.safiprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur Options</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.safiprefs</string>
			<key>key</key>
			<string>blurOption</string>
			<key>label</key>
			<string>Blur Type</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>No Blur</string>
				<string>Dark Blur</string>
				<string>Light Blur</string>
				<string>Extra Light Blur</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.safiprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>label</key>
			<string>Need Something?</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Created by LacertosusDeus 2018</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SafiButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SafiButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>SafiButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
