<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
  		<string>XXXSwitchCell</string>
  		<key>switchColor</key>
  		<string>#76ab79</string>
  		<key>switchColorAlpha</key>
  		<real>0</real>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>useKalmTintColor</string>
			<key>label</key>
			<string>Use Kalm Tint Color</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>ignoreAdaptiveColors</string>
			<key>label</key>
			<string>Ignore Adaptive Preset Colors</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>id</key>
			<string>IgnoreAdaptivePresetColors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>default</key>
			<string>#000000</string>
			<key>key</key>
			<string>customBackgroundColor</string>
			<key>label</key>
			<string>Set Solid Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>id</key>
			<string>SetSolidColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>key</key>
			<string>customTextColor</string>
			<key>label</key>
			<string>Set Font Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>key</key>
			<string>lockColor</string>
			<key>label</key>
			<string>Set Lock Icon Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>default</key>
			<string>#007AFF</string>
			<key>key</key>
			<string>customTintColor</string>
			<key>label</key>
			<string>Set Tint Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>id</key>
			<string>customTintColor</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>key</key>
			<string>borderColor</string>
			<key>label</key>
			<string>Set Border Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>10</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>borderWidth</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Border Width</string>
			<key>cellClass</key>
			<string>LBMLabeledSliderCell</string>
			<key>height</key>
			<real>56</real>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
