<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>Noun Project</string>
			<key>subtitle</key>
			<string>Origin of sub-settings icons.</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>pfpURL</key>
			<string>https://static.production.thenounproject.com/img/nounproject_logo.60e860f212a5.png</string>
			<key>URL</key>
			<string>https://thenounproject.com/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>Color (Colors) Symbol</string>
			<key>subtitle</key>
			<string>by Flatart from the Noun Project</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>pfpURL</key>
			<string>https://static.production.thenounproject.com/img/nounproject_logo.60e860f212a5.png</string>
			<key>URL</key>
			<string>https://thenounproject.com/term/color/2607267/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>Settings (General) Symbol</string>
			<key>subtitle</key>
			<string>by jenya from the Noun Project</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>pfpURL</key>
			<string>https://static.production.thenounproject.com/img/nounproject_logo.60e860f212a5.png</string>
			<key>URL</key>
			<string>https://thenounproject.com/term/settings/3393782/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>Up Down (Gesture) Symbol</string>
			<key>subtitle</key>
			<string>by Ian Rahmadi Kurniawan from the Noun Project</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>pfpURL</key>
			<string>https://static.production.thenounproject.com/img/nounproject_logo.60e860f212a5.png</string>
			<key>URL</key>
			<string>https://thenounproject.com/term/up-down/3365718/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>Link (Credits) Symbol</string>
			<key>subtitle</key>
			<string>by Viktor Vorobyev from the Noun Project</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>pfpURL</key>
			<string>https://static.production.thenounproject.com/img/nounproject_logo.60e860f212a5.png</string>
			<key>URL</key>
			<string>https://thenounproject.com/term/links/534665/</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
