<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Lacertosus</string>
			<key>user</key>
			<string>LacertosusDeus</string>
			<key>avatarURL</key>
			<string>https://avatars2.githubusercontent.com/u/14306024?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>noteSize</string>
			<key>label</key>
			<string>Size</string>
			<key>default</key>
			<string>121</string>
			<key>validTitles</key>
			<array>
				<string>Tiny</string>
				<string>Compact</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>71</integer>
				<integer>121</integer>
				<integer>171</integer>
				<integer>221</integer>
			</array>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>notePosition</string>
			<key>label</key>
			<string>Position</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>Above Media Controls</string>
				<string>Below Media Controls</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>LBMStylePickerCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>blurStyle</string>
			<key>default</key>
			<string>adaptive</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>height</key>
			<real>210</real>
			<key>options</key>
			<dict>
				<key>lightOption</key>
				<dict>
					<key>image</key>
					<string>lightimage</string>
					<key>appearanceOption</key>
					<string>platters</string>
					<key>label</key>
					<string>Light Mode</string>
					<key>position</key>
					<integer>1</integer>
				</dict>

				<key>darkOption</key>
				<dict>
					<key>image</key>
					<string>darkimage</string>
					<key>appearanceOption</key>
					<string>plattersDark</string>
					<key>label</key>
					<string>Dark Mode</string>
					<key>position</key>
					<integer>2</integer>
				</dict>

				<key>colorizedOption</key>
				<dict>
					<key>image</key>
					<string>colorizedimage</string>
					<key>appearanceOption</key>
					<string>colorized</string>
					<key>label</key>
					<string>Colorized</string>
					<key>position</key>
					<integer>3</integer>
				</dict>

				<key>adaptiveOption</key>
				<dict>
					<key>image</key>
					<string>adaptiveimage</string>
					<key>appearanceOption</key>
					<string>adaptive</string>
					<key>label</key>
					<string>Adaptive</string>
					<key>position</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>15</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>50</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Corner Radius</string>
			<key>cellClass</key>
			<string>LBMLabeledSliderCell</string>
			<key>height</key>
			<real>56</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>detail</key>
			<string>LBMColorsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Color Options</string>
			<key>icon</key>
			<string>colors.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>detail</key>
			<string>LBMGeneralListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>General Options</string>
			<key>icon</key>
			<string>general.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Security &amp; Backup</string>
			<key>footerText</key>
			<string>Requiring authentication means the device needs to be unlocked to edit/view notes. Backup of notes occurs once per respring.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>requireAuthentication</string>
			<key>label</key>
			<string>Require Authentication</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>noteBackup</string>
			<key>label</key>
			<string>Enabled Note Backup</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>manageBackup:</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
    	<string>HBSpinnerTableCell</string>
			<key>label</key>
			<string>Manage Backup</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hide/Show Notes</string>
			<key>footerText</key>
			<string>Toggle notes by triple tapping the lockscreen or dismiss notes by swiping left on them.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>hideGesture</string>
			<key>label</key>
			<string>Enable Gestures</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>id</key>
			<string>EnableGestures</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>detail</key>
			<string>LBMGesturesListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Gesture Options</string>
			<key>icon</key>
			<string>gestures.png</string>
			<key>id</key>
			<string>GestureOptions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>feedback</string>
			<key>label</key>
			<string>Haptic Feedback</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>feedbackStyle</string>
			<key>label</key>
			<string>Feedback Style</string>
			<key>default</key>
			<string>1520</string>
			<key>validTitles</key>
			<array>
				<string>Light</string>
				<string>Heavy</string>
				<string>Triple</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1519</integer>
				<integer>1520</integer>
				<integer>1521</integer>
			</array>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>id</key>
			<string>FeedbackStyle</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Github</string>
			<key>subtitle</key>
			<string>Find the source code here!</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
			<string>https://github.com/LacertosusRepo/Open-Source-Tweaks</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>PayPal</string>
			<key>subtitle</key>
			<string>Feed my Steam sale addiction!</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>url</key>
			<string>https://paypal.me/Lacertosus</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Libellum
LacertosusDeus</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
