<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcTwitterCell</string>
			<key>accountLabel</key>
			<string>Lacertosus</string>
			<key>account</key>
			<string>LacertosusDeus</string>
			<key>URL</key>
			<string>https://avatars2.githubusercontent.com/u/14306024?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>cellClass</key>
			<string>LBMSegmentTableWithInputCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>noteSize</string>
			<key>label</key>
			<string>Size</string>
			<key>default</key>
			<string>121</string>
			<key>validTitles</key>
			<array>
				<string>Tiny</string>
				<string>Compact</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>71</integer>
				<integer>121</integer>
				<integer>171</integer>
				<integer>221</integer>
			</array>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTableCell</string>
			<key>cellClass</key>
			<string>LBMStylePickerCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>blurStyle</string>
			<key>default</key>
			<string>adaptive</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>options</key>
			<array>
				<dict>
					<key>image</key>
					<string>lightimage</string>
					<key>appearanceOption</key>
					<string>platters</string>
					<key>label</key>
					<string>Light Mode</string>
				</dict>

				<dict>
					<key>image</key>
					<string>darkimage</string>
					<key>appearanceOption</key>
					<string>plattersDark</string>
					<key>label</key>
					<string>Dark Mode</string>
				</dict>

				<dict>
					<key>image</key>
					<string>colorizedimage</string>
					<key>appearanceOption</key>
					<string>colorized</string>
					<key>label</key>
					<string>Colorized</string>
				</dict>

				<dict>
					<key>image</key>
					<string>adaptiveimage</string>
					<key>appearanceOption</key>
					<string>adaptive</string>
					<key>label</key>
					<string>Adaptive</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>15</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>30</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Corner Radius</string>
			<key>cellClass</key>
			<string>LBMLabeledSliderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LBMColorsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Color Options</string>
			<key>icon</key>
			<string>colors.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LBMGeneralListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>General Options</string>
			<key>icon</key>
			<string>general.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Security &amp; Backup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LBMSwitchWithInfoCell</string>
			<key>infoTitle</key>
			<string></string>
			<key>infoMessage</key>
			<string>This option will prevent viewing or editing notes until the device is unlocked with Face ID, Touch ID, or the passcode.</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>requireAuthentication</string>
			<key>label</key>
			<string>Require Authentication</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>LBMSwitchWithInfoCell</string>
			<key>infoTitle</key>
			<string></string>
			<key>infoMessage</key>
			<string>This option will backup your notes once per respring.</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>noteBackup</string>
			<key>label</key>
			<string>Enabled Note Backup</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>manageBackup:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Manage Backup</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Note Visibility Gestures</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.libellumprefs</string>
			<key>key</key>
			<string>hideGesture</string>
			<key>label</key>
			<string>Enable Gestures</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.libellumprefs/ReloadPrefs</string>
			<key>id</key>
			<string>ENABLE_GESTURES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LBMGesturesListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Gesture Options</string>
			<key>icon</key>
			<string>gestures.png</string>
			<key>id</key>
			<string>GESTURE_OPTIONS</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>LBMCreditsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Credits</string>
			<key>icon</key>
			<string>credits.png</string>
			<key>height</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>GcSocialCell</string>
			<key>userName</key>
			<string>PayPal</string>
			<key>subtitle</key>
			<string>Feed my Steam sale addiction!</string>
			<key>accessoryType</key>
			<integer>0</integer>
			<key>pfpURL</key>
			<string>https://livecartel.it/blog/wp-content/uploads/2022/02/paypal-ga3d83ec73_640.png</string>
			<key>URL</key>
			<string>https://paypal.me/Lacertosus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Libellum
LacertosusDeus</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
