Package: com.lacertosusrepo.soundspring
Name: SoundSpring
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
Version: 0.0.1-69
Installed-Size: 4094
