Package: com.lacertosusrepo.homebuttonlock
Name: HomeButtonLock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
Version: 0.0.1-28
Installed-Size: 342
