<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Minimum Song Duration</string>
			<key>footerText</key>
			<string>How long a song needs to be played before being added to your history. Default is 60 seconds.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>60</real>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>minimumSongDuration</string>
			<key>label</key>
			<string>Minimum Song Duration: %is</string>
			<key>singularLabel</key>
			<string>Minimum Song Duration: 1s</string>
			<key>max</key>
			<real>120</real>
			<key>min</key>
			<real>5</real>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetSpotifyPlayHistory</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>killspotifyicon</string>
			<key>label</key>
			<string>Reset Song Play History</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
