<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Button Color</string>
			<key>footerText</key>
			<string>This sets the color of the Quick-Add &amp; heart button when highlighted. Using a custom color disables ColorFlow4 support.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>addToPlaylistCustomColor</string>
			<key>label</key>
			<string>Use Custom Selected Color</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>action</key>
			<string>colorPicker</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Highlight Color</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Button Offset</string>
			<key>footerText</key>
			<string>Use the slider to set the offset for the button, default is -6.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>-6</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>label</key>
			<string>Button Offset</string>
			<key>min</key>
			<string>-10</string>
			<key>max</key>
			<string>10</string>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>leftImage</key>
			<string>offseticon.png</string>
			<key>key</key>
			<string>addToPlayistButtonOffset</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
