<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Press Duration</string>
			<key>footerText</key>
			<string>How long you need to hold a song to delete it from your playlist. Default is 2 seconds.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>pressDuration</string>
			<key>label</key>
			<string>Press Duration: %is</string>
			<key>singularLabel</key>
			<string>Press Duration: 1s</string>
			<key>max</key>
			<real>10</real>
			<key>min</key>
			<real>1</real>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
