<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string> <!-- dumb fix for bug causing switches to be too high -->
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Press Duration</string>
			<key>footerText</key>
			<string>How long you need to hold a song to delete it from your playlist. Default is 2 seconds.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>label</key>
			<string>Seconds till delete</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>10</string>
			<key>isSegmented</key>
			<true/>
			<key>segementCounter</key>
			<string>10</string>
			<key>showValue</key>
			<true/>
			<key>leftImage</key>
			<string>durationicon.png</string>
			<key>key</key>
			<string>pressDuration</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>Quick-Delete Settings</string>
</dict>
</plist>
