<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>IFYCustomHeaderCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string>Adds a button in the now playing view that allows you to quickly save songs to set playlists.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>useAddToPlaylistButton</string>
			<key>label</key>
			<string>Quick-Add to Playlist Button</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ImprovifyPlaylistsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Set Playlists</string>
			<key>icon</key>
			<string>playlistsicon.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ImprovifyQuickAddSettingsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Quick-Add Settings</string>
			<key>icon</key>
			<string>gearicon.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adds a gesture to delete a song by long pressing on it for a set amount of time.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>useQuickDeleteGesture</string>
			<key>label</key>
			<string>Quick-delete Gesture</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ImprovifyQuickDeleteSettingsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Quick-Delete Settings</string>
			<key>icon</key>
			<string>gearicon.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adds a number in the now playing view, playlist, and radio list showing how many times you have played a song. It will start from 0 since Spotify does not provide this data.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>songHistorySwitch</string>
			<key>label</key>
			<string>Song Play Count</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ImprovifySongCountSettingsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Song Count Settings</string>
			<key>icon</key>
			<string>gearicon.png</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>All changes require Spotify to be restarted.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ImprovifyMiscellaneousSettingsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Miscellaneous Settings</string>
			<key>icon</key>
			<string>miscsettingsicon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>killSpotify</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>killspotifyicon</string>
			<key>label</key>
			<string>Kill Spotify</string>
		</dict>

		<dict>
			<key>label</key>
			<string>Need Something?</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made with all natural ingredients by LacertosusDeus</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
