<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>IFYCustomHeaderCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Quick add to playlist</string>
			<key>footerText</key>
			<string>The URI is a unique identifier for songs/artists/playlists/etc. Enter the playlist URI where you want music to be saved to when listening to music. To get this URI link for a playlist just double-tap the name of the playlist while viewing it.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>useAddToPlaylistButton</string>
			<key>label</key>
			<string>Add to Playlist Button</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>placeholder</key>
			<string>Playlist URI</string>
			<key>key</key>
			<string>playlistURI</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Playlist Button Customization</string>
			<key>footerText</key>
			<string>Using a custom color disables ColorFlow4 support. Use the slider to set the offset for the button, default is -6.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>addToPlaylistCustomColor</string>
			<key>label</key>
			<string>Use Custom Selected Color</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>action</key>
			<string>colorPicker</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Selected Button Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>-6</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>label</key>
			<string>Button Offset</string>
			<key>min</key>
			<string>-10</string>
			<key>max</key>
			<string>10</string>
			<key>isSegmented</key>
			<true/>
			<key>segementCounter</key>
			<string>20</string>
			<key>showValue</key>
			<true/>
			<key>leftImage</key>
			<string>offseticon.png</string>
			<key>key</key>
			<string>addToPlayistButtonOffset</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Quick-delete gesture</string>
			<key>footerText</key>
			<string>Adds a gesture to delete a song by long pressing on it for a set amount of time. Default is 2 seconds.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>useQuickDeleteGesture</string>
			<key>label</key>
			<string>Add Quick-delete Gesture</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>label</key>
			<string>Seconds till delete</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>10</string>
			<key>isSegmented</key>
			<true/>
			<key>segementCounter</key>
			<string>10</string>
			<key>showValue</key>
			<true/>
			<key>leftImage</key>
			<string>durationicon.png</string>
			<key>key</key>
			<string>pressDuration</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Song Played Count</string>
			<key>footerText</key>
			<string>Adds a number in the playlist and radio list showing how many times you have played a song. It will start from 0 since Spotify does not provide this data. The slider sets the minimum time a song must play before it counts.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>key</key>
			<string>songHistorySwitch</string>
			<key>label</key>
			<string>Song Play #s</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>60</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.improvifyprefs</string>
			<key>label</key>
			<string>Required Seconds Before Save</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>120</string>
			<key>isSegmented</key>
			<true/>
			<key>segementCounter</key>
			<string>120</string>
			<key>showValue</key>
			<true/>
			<key>leftImage</key>
			<string>durationicon.png</string>
			<key>key</key>
			<string>minimumSongDuration</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.improvifyprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>All changes require Spotify to be restarted.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ImprovifyMiscellaneousSettingsViewController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Miscellaneous Settings</string>
			<key>icon</key>
			<string>miscsettingsicon.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetSpotifyPlayHistory</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>killspotifyicon</string>
			<key>label</key>
			<string>Reset Song Play History</string>
		</dict>
		<dict>
			<key>action</key>
			<string>killSpotify</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>killspotifyicon</string>
			<key>label</key>
			<string>Kill Spotify</string>
		</dict>

		<dict>
			<key>label</key>
			<string>Need Something?</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made with all natural ingredients by LacertosusDeus</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>IFYButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
