<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HaptikCenterCustomHeaderCell</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Center Options</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>CCOptionsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Control Center</string>
			<key>icon</key>
			<string>CCPrefs.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NCOptionsListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Notification Center</string>
			<key>icon</key>
			<string>NCPrefs.png</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibration Length (ms)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.05</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>0.50</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>timeLength</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibration Intensity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.75</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>1</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>vibeIntensity</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendTestVibration</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HaptikCenterButtonCell</string>
			<key>label</key>
			<string>Test Vibration</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>This option will only work for the iPhone 6S and iPhone 6S+, it allows the vibration to be replaced by the default Haptic Feeback.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>useTapticEngine</string>
			<key>label</key>
			<string>Use Taptic Engine</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>label</key>
			<string>Points of Contact</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Created by LacertosusDeus ©2016</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HaptikCenterButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HaptikCenterButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HaptikCenterButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Leave Debug off when sending crash reports to other developers.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>logSwitch</string>
			<key>label</key>
			<string>Debug</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>HaptikCenter</string>
</dict>
</plist>
