<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HaptikCenterCustomHeaderCell</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>haptikButtons</string>
			<key>label</key>
			<string>Vibrate Buttons</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>haptikSliders</string>
			<key>label</key>
			<string>Vibrate Sliders</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>
		
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Slider Options</string>
			<key>footerText</key>
			<string>This option changes when your volume/brightness slider vibrates.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>sliderVibrateOptions</string>
			<key>label</key>
			<string>SLider Vibration Mode</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>Vibrate On Touch</string>
				<string>Vibrate On Release</string>
				<string>Both</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>
		
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibration Duration (s)</string>
			<key>footerText</key>
			<string>Default is 0.05.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.05</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>0.50</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.hcprefs</string>
			<key>key</key>
			<string>timeLength</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.hcprefs/preferences.changed</string>
		</dict>
		
		
		<dict>
			<key>label</key>
			<string>Contact Me</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Created by LacertosusDeus.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>HaptikCenter</string>
</dict>
</plist>
