<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>ObscuriteCustomHeaderCell</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.obscuriteprefs</string>
			<key>key</key>
			<string>obscuriteSwitch</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.obscuriteprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.obscuriteprefs</string>
			<key>key</key>
			<string>useWallpaper</string>
			<key>label</key>
			<string>Use Wallpaper</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.obscuriteprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.obscuriteprefs</string>
			<key>key</key>
			<string>useAutoLock</string>
			<key>label</key>
			<string>Keep Auto-Lock</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.obscuriteprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.obscuriteprefs</string>
			<key>key</key>
			<string>blurOption</string>
			<key>label</key>
			<string>Blur Type</string>
			<key>default</key>
			<string>3</string>
			<key>validTitles</key>
			<array>
				<string>Extra Light Blur</string>
				<string>Light Blur</string>
				<string>Dark Blur</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.obscuriteprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur Transition Time (secs)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>1.5</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>5</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.obscuriteprefs</string>
			<key>key</key>
			<string>blurTransition</string>
			<key>label</key>
			<string>Blur Transition Time</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.obscuriteprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.85</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>1.0</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.obscuriteprefs</string>
			<key>key</key>
			<string>blurAlpha</string>
			<key>label</key>
			<string>Blur Alpha</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.obscuriteprefs/preferences.changed</string>
		</dict>
		
		<dict>
			<key>label</key>
			<string>Need Somthing?</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Created by LacertosusDeus ©2017</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ObscuriteButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ObscuriteButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>ObscuriteButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string>Obscurite</string>
</dict>
</plist>
