Package: com.lacertosusrepo.phonetabscustomizer
Name: PhoneTabsCustomizer
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Toggle tabs in phone app...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
