<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The slider controls the Y offset of Speculum.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.speculumprefs</string>
			<key>key</key>
			<string>speculumAlignment</string>
			<key>label</key>
			<string>Speculum Alignment</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.speculumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.speculumprefs</string>
			<key>label</key>
			<string>Offset</string>
			<key>min</key>
			<string>-100</string>
			<key>max</key>
			<string>100</string>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>speculumOffset</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.speculumprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.speculumprefs</string>
			<key>key</key>
			<string>speculumChargingInformation</string>
			<key>label</key>
			<string>Battery Charged Updates</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.speculumprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SPCTimeListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Time Label Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SPCDateListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Date Label Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SPCWeatherListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Weather Label Settings</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Preferred Language</string>
			<key>footerText</key>
			<string>This allows you to choose from your top 3 system languages to set the date and time with.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.speculumprefs</string>
			<key>key</key>
			<string>speculumPreferredLanguage</string>
			<key>label</key>
			<string>Speculum Preferred Language</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>1st</string>
				<string>2nd</string>
				<string>3rd</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.speculumprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring required when changing weather update interval and disabling labels.</string>
		</dict>
		<dict>
    	<key>action</key>
    	<string>useWallpaperColors:</string>
    	<key>cell</key>
    	<string>PSButtonCell</string>
    	<key>cellClass</key>
    	<string>HBSpinnerTableCell</string>
    	<key>label</key>
    	<string>Use Wallpaper Colors</string>
		</dict>
		<dict>
    	<key>action</key>
    	<string>resetSettings:</string>
    	<key>cell</key>
    	<string>PSButtonCell</string>
    	<key>cellClass</key>
    	<string>HBSpinnerTableCell</string>
    	<key>label</key>
    	<string>Reset Settings</string>
		</dict>
		<dict>
    	<key>action</key>
    	<string>respring:</string>
    	<key>cell</key>
    	<string>PSButtonCell</string>
    	<key>cellClass</key>
    	<string>HBSpinnerTableCell</string>
    	<key>label</key>
    	<string>Respring</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Lacertosus</string>
			<key>user</key>
			<string>LacertosusDeus</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Github</string>
			<key>subtitle</key>
			<string>Find the source code here!</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
			<string>https://github.com/LacertosusRepo/Open-Source-Tweaks</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>PayPal</string>
			<key>subtitle</key>
			<string>Feed my Steam sale addiction!</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>url</key>
			<string>https://paypal.me/Lacertosus</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
