Package: com.lacertosusrepo.examplecepheiproject
Name: ExampleCepheiProject
Depends: mobilesubstrate, ws.hbang.common (>= 1.13)
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Version: 0.0.1-8+debug
Installed-Size: 296
