<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>VolbrateCustomHeaderCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.volbratexiprefs</string>
			<key>key</key>
			<string>hideHUD</string>
			<key>label</key>
			<string>Hide Volume HUD</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.volbratexiprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.volbratexiprefs</string>
			<key>key</key>
			<string>useHaptic</string>
			<key>label</key>
			<string>Use Haptic Feedback</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.volbratexiprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.volbratexiprefs</string>
			<key>key</key>
			<string>vibrationChoice</string>
			<key>label</key>
			<string>Vibration Options</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>Vibrate Max and Min</string>
				<string>Vibrate All</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.volbratexiprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Vibration Strength</string>
			<key>footerText</key>
			<string>Strength only applies to Taptic Engine.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.volbratexiprefs</string>
			<key>key</key>
			<string>forceLevel</string>
			<key>label</key>
			<string>Vibration</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>Light</string>
				<string>Medium</string>
				<string>Heavy</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.volbratexiprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Use the reset button if things aren't working correctly. You'll have to come back and set your settings afterwards.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendTestVibtration</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>VolbrateButtonCell</string>
			<key>label</key>
			<string>Test Vibration</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetSettings</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>VolbrateButtonCell</string>
			<key>label</key>
			<string>Reset Settings</string>
		</dict>

		<dict>
			<key>label</key>
			<string>Points of Contact</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Created by LacertosusDeus</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>VolbrateButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>VolbrateButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>VolbrateButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
