Package: com.lacertosusrepo.spotifyaddtofavorites
Name: Spotify AddToFavorites
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: Favorite songs easier in Spotify...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.spotifyaddtofavorites/
