Package: com.lacertosusrepo.safi
Name: Safi
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 1.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
