Package: com.lacertosusrepo.navale
Name: Navale
Depends: mobilesubstrate, org.thebigboss.libcolorpicker
Version: 2.0
Architecture: iphoneos-arm
Description: If you're seeing this, I forgot to add a description...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
