Package: com.lacertosusrepo.navale
Name: Navale
Depends: mobilesubstrate, org.thebigboss.libcolorpicker, ws.hbang.common (>= 1.11)
Version: 2.2.3
Architecture: iphoneos-arm
Description: Add a gradient to your dock...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
SileoDepiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
