Package: com.lacertosusrepo.speculum
Name: Speculum
Depends: mobilesubstrate, org.thebigboss.libcolorpicker, ws.hbang.common (>= 1.11)
Version: 1.2
Architecture: iphoneos-arm
Description: If you're seeing this, I forgot to add a description...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
SileoDepiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
