<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>STLCustomHeaderCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string>The size filter keeps from having lowing quality images set being set as your wallpaper.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>key</key>
			<string>stellaeSwitch</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>key</key>
			<string>imageSizeFilter</string>
			<key>label</key>
			<string>Screen Size Filter</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Set Image To</string>
			<key>footerText</key>
			<string>Choose where the image is applied to and set custom actions through Activator.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>key</key>
			<string>setWallpaperMode</string>
			<key>label</key>
			<string>Set Image To</string>
			<key>default</key>
			<string>Lockscreen</string>
			<key>validTitles</key>
			<array>
				<string>Both</string>
				<string>Homescreen</string>
				<string>Lockscreen</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Update Wallpaper Action</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.stellae.updatewallpaper</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Save Wallpaper Action</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.stellae.saveWallpaper</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Refresh Time</string>
			<key>footerText</key>
			<string>Use a custom timer to update the image every x-hours. Timer starts on respring and requires one to apply a new time interval.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>key</key>
			<string>useTimer</string>
			<key>label</key>
			<string>Use Custom Timer</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>key</key>
			<string>setWallpaperMode</string>
			<key>label</key>
			<string>Set Image To</string>
			<key>default</key>
			<string>Lockscreen</string>
			<key>validTitles</key>
			<array>
				<string>1 Hour</string>
				<string>2 Hours</string>
				<string>3 Hours</string>
				<string>4 Hours</string>
				<string>5 Hours</string>
			</array>
			<key>validValues</key>
			<array>
				<string>3600</string>
				<string>7200</string>
				<string>10800</string>
				<string>14400</string>
				<string>18000</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Subreddit Settings</string>
			<key>footerText</key>
			<string>Enter the subreddit name only (no r/). Use the slider to set the number of hot posts to grab, it will choose a random image from one of them.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>spaceporn</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>placeholder</key>
			<string>spaceporn</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>icon</key>
			<string>subreddit.png</string>
			<key>key</key>
			<string>subreddit</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>key</key>
			<string>nsfwFilter</string>
			<key>icon</key>
			<string>nsfwIcon.png</string>
			<key>label</key>
			<string>Filter</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>3</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.stellaeprefs</string>
			<key>label</key>
			<string># of Posts:</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>10</string>
			<key>isSegmented</key>
			<true/>
			<key>segementCounter</key>
			<string>10</string>
			<key>showValue</key>
			<true/>
			<key>leftImage</key>
			<string>numberOfPosts.png</string>
			<key>key</key>
			<string>numberOfPostsGrabbed</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.stellaeprefs/preferences.changed</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openCurrentRedditPost</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>STLButtonCell</string>
			<key>label</key>
			<string>Open Current Reddit Post</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>STLButtonCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>updateSubImage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>STLButtonCell</string>
			<key>label</key>
			<string>Update Wallpaper</string>
		</dict>
		<dict>
			<key>action</key>
			<string>saveImage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>STLButtonCell</string>
			<key>label</key>
			<string>Save Wallpaper</string>
		</dict>

		<dict>
			<key>label</key>
			<string>Need Something?</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made with all natural ingredients by LacertosusDeus</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>STLButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>STLButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>STLButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
