Package: com.lacertosus.nosbrotate
Name: noSBrotate
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A simple tweak that keeps your iDevice from automatically rotating.
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
Version: 0.0.1-4
Installed-Size: 133
