Package: com.lacertosusrepo.flashlightindicator
Name: Flashlight Indicator
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Flashlight indicator just like the camera one...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction:
