Package: com.lacertosusrepo.toneitdown
Name: ToneItDown
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: If you're seeing this, I forgot to add a description...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
