Package: com.lacertosus.nosbrotate
Name: noSBrotate
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple tweak that keeps your iDevice from automatically rotating.
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
