Package: com.lacertosusrepo.tweakcount
Name: TweakCount
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: See how many tweaks you have install in your preferences...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
