<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>label</key>
			<string>Lacertosus</string>
			<key>user</key>
			<string>LacertosusDeus</string>
			<key>avatarURL</key>
			<string>https://avatars2.githubusercontent.com/u/14306024?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>5</string>
			<key>min</key>
			<string>-50</string>
			<key>max</key>
			<string>50</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>key</key>
			<string>indicatorOffset</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.dockindicatorsprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Y Offset</string>
			<key>cellClass</key>
			<string>DIPLabeledSliderCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Shape</string>
			<key>footerText</key>
			<string>Tap the indicator preview to test the notification animation.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>DIPIndicatorPreviewCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>height</key>
			<real>67</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>18</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>60</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>key</key>
			<string>indicatorWidth</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.dockindicatorsprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Width</string>
			<key>cellClass</key>
			<string>DIPLabeledSliderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>5</string>
			<key>min</key>
			<string>1</string>
			<key>max</key>
			<string>40</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>key</key>
			<string>indicatorHeight</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.dockindicatorsprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Height</string>
			<key>cellClass</key>
			<string>DIPLabeledSliderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>2.5</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>30</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>key</key>
			<string>indicatorCornerRadius</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.dockindicatorsprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Corner Radius</string>
			<key>cellClass</key>
			<string>DIPLabeledSliderCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colors</string>
			<key>footerText</key>
			<string>Clear the color cache if you have changed themes or a color seems incorrect. This will respring your device.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>key</key>
			<string>indicatorUseAppColor</string>
			<key>label</key>
			<string>Use App Average Color</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.dockindicatorsprefs/ReloadPrefs</string>
			<key>id</key>
			<string>UseAppAverageColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>key</key>
			<string>indicatorColor</string>
			<key>label</key>
			<string>Set Indicator Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.dockindicatorsprefs/ReloadPrefs</string>
			<key>id</key>
			<string>SetIndicatorColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>detail</key>
			<string>DIPModifyCachedAppColorsController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Modify Cached App Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>clearColorCache</string>
			<key>label</key>
			<string>Clear Color Cache</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.dockindicatorsprefs</string>
			<key>key</key>
			<string>indicatorAnimationType</string>
			<key>label</key>
			<string>Notification Animation Type</string>
			<key>staticTextMessage</key>
			<string>Choose what animation the indicator will use when an app has a notification.</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Bounce</string>
				<string>Shake X</string>
				<string>Shake Y</string>
				<string>Glow</string>
				<string>Heartbeat</string>
				<string>Pulse</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.dockindicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Dock Indicators
LacertosusDeus</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
