Package: com.lacertosusrepo.volumelock
Name: VolumeLock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
Version: 0.0.1-2
Installed-Size: 133
