Package: com.lacertosusrepo.popuponstart
Name: PopUpOnStart
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 482
