Package: com.lacertosusrepo.popuponstart
Name: PopUpOnStart
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Lacertosus
Author: Lacertosus
Section: Tweaks
