Package: com.lacertosusrepo.libellum
Name: Libellum
Depends: mobilesubstrate, ws.hbang.common (>= 1.11), ws.hbang.alderis
Version: 1.4.8
Architecture: iphoneos-arm
Description: Notes on your lockscreen and notification center...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.libellum/
SileoDepiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.libellum/
