<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Lacertosus</string>
			<key>user</key>
			<string>LacertosusDeus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>usingFloatingDock</string>
			<key>label</key>
			<string>Apply to Floating Dock</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.navaleprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>gradientDirection</string>
			<key>label</key>
			<string>Gradient Options</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>Vertical Gradient</string>
				<string>Horizontal Gradient</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.navaleprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>1.0</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>dockAlpha</string>
			<key>leftImage</key>
			<string>slidericon.png</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.navaleprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Alpha</string>
			<key>cellClass</key>
			<string>NAVLabeledSliderCell</string>
			<key>height</key>
			<real>56</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Colors</string>
			<key>footerText</key>
			<string>Pull colors from your homescreen wallpaper and use them for your dock. Not perfect.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>NAVGradientPreviewCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>colorOnePicker</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Color One</string>
			<key>icon</key>
			<string>colorpickericonone.png</string>
			<key>cellClass</key>
			<string>NAVColorIndicatorCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>colorOneString</string>
		</dict>
		<dict>
			<key>action</key>
			<string>colorTwoPicker</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Color Two</string>
			<key>icon</key>
			<string>colorpickericontwo.png</string>
			<key>cellClass</key>
			<string>NAVColorIndicatorCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>colorTwoString</string>
		</dict>
		<dict>
    	<key>action</key>
    	<string>colorsFromWallpaper:</string>
    	<key>cell</key>
    	<string>PSButtonCell</string>
    	<key>cellClass</key>
    	<string>HBSpinnerTableCell</string>
    	<key>label</key>
    	<string>Use Wallpaper Colors</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Corner Radius</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>overrideCornerRadius</string>
			<key>label</key>
			<string>Override Corner Radius</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.navaleprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>50</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.navaleprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Corner Radius</string>
			<key>cellClass</key>
			<string>NAVLabeledSliderCell</string>
			<key>height</key>
			<real>56</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Border</string>
		</dict>
		<dict>
			<key>action</key>
			<string>borderColorPicker</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Border Color</string>
			<key>cellClass</key>
			<string>NAVColorIndicatorCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>borderColorString</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>20</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.navaleprefs</string>
			<key>key</key>
			<string>borderWidth</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.navaleprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Border Width</string>
			<key>cellClass</key>
			<string>NAVLabeledSliderCell</string>
			<key>height</key>
			<real>56</real>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
    	<key>action</key>
    	<string>respring:</string>
    	<key>cell</key>
    	<string>PSButtonCell</string>
    	<key>cellClass</key>
    	<string>HBSpinnerTableCell</string>
    	<key>label</key>
    	<string>Respring</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Github</string>
			<key>subtitle</key>
			<string>Find the source code here!</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
			<string>https://github.com/LacertosusRepo/Open-Source-Tweaks</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>PayPal</string>
			<key>subtitle</key>
			<string>Feed my Steam sale addiction!</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>url</key>
			<string>https://paypal.me/Lacertosus</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Navale by LacertosusDeus</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
