<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>TIDCustomHeaderCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string>Change how the volume for tones is adjusted when previewing them.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.toneitdownprefs</string>
			<key>key</key>
			<string>toneMode</string>
			<key>label</key>
			<string>Tone Mode</string>
			<key>default</key>
			<string>Lockscreen</string>
			<key>validTitles</key>
			<array>
				<string>Muted</string>
				<string>Lowered Volume</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.toneitdownprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tone Volume</string>
			<key>footerText</key>
			<string>Set how loud the tone is if you choose 'Lowered Volume'</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.2</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.toneitdownprefs</string>
			<key>label</key>
			<string>Tone Volume</string>
			<key>min</key>
			<string>0.0</string>
			<key>max</key>
			<string>1.0</string>
			<key>showValue</key>
			<false/>
			<key>leftImage</key>
			<string>toneVolume.png</string>
			<key>key</key>
			<string>toneVolume</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.toneitdownprefs/preferences.changed</string>
		</dict>

		<dict>
			<key>label</key>
			<string>Need Something?</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made with all natural ingredients by LacertosusDeus</string>
		</dict>
		<dict>
			<key>action</key>
			<string>github</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TIDButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Github</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TIDButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>TIDButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
