<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Toggling indicators requires a respring.</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Lacertosus</string>
			<key>user</key>
			<string>LacertosusDeus</string>
			<key>iconURL</key>
			<string>https://avatars2.githubusercontent.com/u/14306024?v=4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>LDLabeledSliderCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>key</key>
			<string>indicatorSpacing</string>
			<key>default</key>
			<string>12</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>30</string>
			<key>isSegmented</key>
			<true/>
			<key>label</key>
			<string>Spacing</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FLASHLIGHT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>key</key>
			<string>showFlashlightIndicator</string>
			<key>label</key>
			<string>Show Flashlight Indicator</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>default</key>
			<string>#5691F0</string>
			<key>key</key>
			<string>flLightColor</string>
			<key>label</key>
			<string>Set Light Mode Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>key</key>
			<string>flDarkColor</string>
			<key>label</key>
			<string>Set Dark Mode Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VPN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>key</key>
			<string>showVPNIndicator</string>
			<key>label</key>
			<string>Show VPN Indicator</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>default</key>
			<string>#D6246E</string>
			<key>key</key>
			<string>vpnLightColor</string>
			<key>label</key>
			<string>Set Light Mode Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>default</key>
			<string>#ED5393</string>
			<key>key</key>
			<string>vpnDarkColor</string>
			<key>label</key>
			<string>Set Dark Mode Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DND</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>key</key>
			<string>showDNDIndicator</string>
			<key>label</key>
			<string>Show DND Indicator</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>default</key>
			<string>#7D3CBD</string>
			<key>key</key>
			<string>dndLightColor</string>
			<key>label</key>
			<string>Set Light Mode Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.indicatorsprefs</string>
			<key>default</key>
			<string>#AE74E8</string>
			<key>key</key>
			<string>dndDarkColor</string>
			<key>label</key>
			<string>Set Dark Mode Color</string>
			<key>showAlphaSlider</key>
			<true/>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.indicatorsprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Github</string>
			<key>subtitle</key>
			<string>Find the source code here!</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
			<string>https://github.com/LacertosusRepo/Open-Source-Tweaks</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>subtitle</key>
			<string>Fund my next ski trip!</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>url</key>
			<string>https://paypal.me/Lacertosus</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Indicators
LacertosusDeus</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
