<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Feedback</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>key</key>
			<string>feedbackForce</string>
			<key>label</key>
			<string>Feedback</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>Non-Haptic</string>
				<string>None</string>
				<string>Light</string>
				<string>Medium</string>
				<string>Heavy</string>
			</array>
			<key>validValues</key>
			<array>
				<string>5</string>
				<string>4</string>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gesture Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>3</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>key</key>
			<string>leftSwipeCommand</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Left Swipe Action</string>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Play/Pause</string>
					<string>Skip Forward</string>
					<string>Skip Back</string>
					<string>Open Now Playing</string>
					<string>Increase Volume</string>
					<string>Decrease Volume</string>
					<string>Toggle Mute</string>
				</array>
			<key>validValues</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>4</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>key</key>
			<string>rightSwipeCommand</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Right Swipe Action</string>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Play/Pause</string>
					<string>Skip Forward</string>
					<string>Skip Back</string>
					<string>Open Now Playing</string>
					<string>Increase Volume</string>
					<string>Decrease Volume</string>
					<string>Toggle Mute</string>
				</array>
			<key>validValues</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>key</key>
			<string>upSwipeCommand</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Up Swipe Action</string>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Play/Pause</string>
					<string>Skip Forward</string>
					<string>Skip Back</string>
					<string>Open Now Playing</string>
					<string>Increase Volume</string>
					<string>Decrease Volume</string>
					<string>Toggle Mute</string>
				</array>
			<key>validValues</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>key</key>
			<string>downSwipeCommand</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Down Swipe Action</string>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Play/Pause</string>
					<string>Skip Forward</string>
					<string>Skip Back</string>
					<string>Open Now Playing</string>
					<string>Increase Volume</string>
					<string>Decrease Volume</string>
					<string>Toggle Mute</string>
				</array>
			<key>validValues</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>key</key>
			<string>tapGestureCommand</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Double Tap Action</string>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Play/Pause</string>
					<string>Skip Forward</string>
					<string>Skip Back</string>
					<string>Open Now Playing</string>
					<string>Increase Volume</string>
					<string>Decrease Volume</string>
					<string>Toggle Mute</string>
				</array>
			<key>validValues</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>key</key>
			<string>longPressGesture</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
			<key>label</key>
			<string>Long Press Action</string>
			<key>validTitles</key>
				<array>
					<string>None</string>
					<string>Play/Pause</string>
					<string>Skip Forward</string>
					<string>Skip Back</string>
					<string>Open Now Playing</string>
					<string>Increase Volume</string>
					<string>Decrease Volume</string>
					<string>Toggle Mute</string>
				</array>
			<key>validValues</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
					<string>5</string>
					<string>6</string>
					<string>7</string>
				</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Long Press Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0.75</string>
			<key>defaults</key>
			<string>com.lacertosusrepo.imperiumprefs</string>
			<key>label</key>
			<string>Duration</string>
			<key>min</key>
			<string>0.5</string>
			<key>max</key>
			<string>3.0</string>
			<key>isSegmented</key>
			<true/>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>longPressDuration</string>
			<key>PostNotification</key>
			<string>com.lacertosusrepo.imperiumprefs/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made with all natural ingredients by LacertosusDeus</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Lacertosus</string>
			<key>user</key>
			<string>LacertosusDeus</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Github</string>
			<key>subtitle</key>
			<string>Find the source code here!</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
			<string>https://github.com/LacertosusRepo/Open-Source-Tweaks</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>PayPal</string>
			<key>subtitle</key>
			<string>Feed my Steam sale addiction!</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>url</key>
			<string>https://paypal.me/Lacertosus</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
