Package: com.lacertosusrepo.badgecolor
Name: BadgeColor
Depends: mobilesubstrate, ws.hbang.common (>= 1.13), ws.hbang.alderis
Version: 1.0
Architecture: iphoneos-arm
Description: Tiny badge customization...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.badgecolor/
SileoDepiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.badgecolor/
