Package: com.lacertosusrepo.einsteinvibes
Name: EinsteinVibes
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Add vibration to the calculator app buttons...
Maintainer: LacertosusDeus <LacertosusThemes@gmail.com>
Author: LacertosusDeus <LacertosusThemes@gmail.com>
Section: Tweaks
Depiction: https://lacertosusrepo.github.io/depictions/com.lacertosusrepo.beta/
